# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\travail_2020_2021\BTS_SNIR\1_BTS_SNIR\1_MODULE_JAVA\THREAD\2_timer\timer_Periodique\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
